#nav-text{
    font-size: 2rem;
    color:white;
    
}

#city-search-label{
    font-size:1.2rem;
}

#search-city-div{

    background-color: #f8f9fa;
}

table{
    background-color:white;
}

#weather-display-main-col{
    margin-top:15px
}

#current-weather-row{
    margin-bottom:15px;
}